@import "../utils/colors.css";
main > section > p {
    display: flex;
    border-collapse: collapse;
    text-align: center;
    justify-content: center;
    color: var(--result-text-color);
    margin: 0;
}

#search-length {
    font-size: 1.5em;
}

#search-result {
    font-size: 2em;
    margin-bottom: 16px;
}