:root {
    --background-color: #212531;
    --result-text-color: #D7894B;
    --result-number-color: #EFE646;
    --table-result-border-color: #FCFCFB;
    --placeholder-text-color: #565A66;
    --input-text-search-border-color: #2F3555;
    --title-color: #FFFBF9
}